* {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

.content, .adminContent {
    background: #fafafa;

}

.sticky {
    top: 0;
    position: fixed;
    width: 100%;
}

.sticky + main {
    padding-top: 60px;
}

#header {
    height: 80px;
    box-shadow: 0 4px 10px -3px rgba(191, 191, 191, 0.5);

}

.navbar {
    height: 80px;
    /*background: rgba(189, 0, 0, 0.8) top;*/
    background: white;
    overflow: hidden;
}

#navSection {
    box-shadow: 0 4px 10px -3px rgba(191, 191, 191, 0.5);

}

.navbar li {
    font-size: 15px;
    padding: 10px;
    text-transform: uppercase;
    justify-content: space-around;

}

.navbar li .nav-link {
    color: #8a8a8a;
}

.navbar li .nav-link:hover {
    color: #eeb200;
}


/*......................................Admin DashBoard styling start........................................*/

.lpack {
    position: absolute;
    animation: infinite 20s ridecar;
}

@keyframes ridecar {
    0% {
        left: 0;
        opacity: 0;
    }
    30% {
        opacity: 1
    }
    70% {
        opacity: 0.8;
    }
    100% {
        opacity: 0;
        left: 80%;
    }
}

#comName {
    overflow: hidden;
    font-family: 'Rock Salt', cursive;
    font-weight: 900;
    padding: 20px;
    text-shadow: #a2a2a2 5px 4px 5px;
}

#comName .l4 {
    color: #d70011;
}

.adminContent .adminPic {
    width: 150px;
    height: 150px;
    border-radius: 100%;
    background: url("../images/admin.png");
    background-size: cover;
    padding: 15px;
    border: #b4fdc9 15px solid;

}

.adminPic {
    animation: infinite 4s ease adminpiczoom;
}

@keyframes adminpiczoom {
    0% {
        transform: scale(1);
        border: #b4fdc9 15px solid;

    }
    50% {
        transform: scale(1.15);
        border: #b4fdc9 0px solid;

    }
    100% {
        transform: scale(1);
        border: #b4fdc9 15px solid;

    }
}

.adminContent #v-tabs-dash-tab, #v-tabs-car-tab, #v-tabs-customer-tab, #v-tabs-driver-tab, #v-tabs-order-tab, #v-tabs-payment-tab ,#v-tabs-request-tab ,
#v-tabs-profile-tab,#v-tabs-setting-tab{
    padding: 25px;
    font-size: 15px;
    text-shadow: #c7c7c7 5px 5px 5px;

}

#v-tabs-dash > div > h1, #v-tabs-car > div > h1, #v-tabs-customer > div > h1, #v-tabs-driver > div > h1, #v-tabs-order > div > h1, #v-tabs-payment > div > h1 ,#v-tabs-request > div > h1 ,
#v-tabs-profile > div > h1, #v-tabs-setting > div > h1{
    text-shadow: #c0c0c0 5px 5px 5px;
}

#leftDash {
    padding-right: 0;
    border-right: 3px solid #777bff;
}

#c1, #c2, #c3, #c4 {
    padding: 10px;
}

#c1 > .card, #c2 > .card, #c3 > .card, #c4 > .card {
    box-shadow: #e0e0e0 0px 2px 10px;
}

#c1 > .card {
    border-bottom: 5px #b23cfd solid;
}

#c2 > .card {
    border-bottom: 5px #00b74a solid;
}

#c3 > .card {
    border-bottom: 5px #ffa900 solid;
}

#c4 > .card {
    border-bottom: 5px #1266f1 solid;
}
.carTitle{
    font-family: Dancing Script SemiBold;
    border-radius: 20px 0 0px;
    background: #b243ff;
    box-shadow: #bcbcbc 5px 0px 13px;
    color: white;
}
.driverTilte{
    font-family: Dancing Script SemiBold;
    border-radius: 20px 0 0px;
    background: #0810e3;
    box-shadow: #bcbcbc 5px 0px 13px;
    color: white;
}
#tblDriver #driverTbody tr{
    background: white;
}
.control-error {
    font-size: 12px;
    color: #d90000;
}

/*......................................Admin DashBoard styling end........................................*/

/*.............................................Index form styling start...............................*/

.topPage{
    overflow: hidden;
}
#topPageCol {

    position: absolute;
    display: grid;
    top: 50%;
    left: 50%;
    margin: auto;
    justify-items: center;
    transform: translate(-50%, -50%);
}

.mainLogo {
    width: 200px;
    height: 218px;

}


#welcomeTop {
    font-family: "Dancing Script SemiBold";
    font-weight: 600;
    color: #fff;
}


.cover {
    width: 100vw;
    height: 100vh;
    background: url("../images/dp8KiD.jpg");
    background-size: cover;
    background-attachment: fixed;
    z-index: -1;
    transition: 2s ease;


}
#wallTxt{
    text-align: center;
    position: absolute;
    top: 6%;
}
.topPage > .cover:hover {

    transform: scale(1.04);
    transition: 2s ease;

}

.menu_button {
    color: white;
    cursor: pointer;
    display: none;
}

#title {
    font-size: 7rem;
    color: white;
    font-weight: 600;
    font-family: "Dancing Script SemiBold";
}

.card {
    background-color: #1a1a1a;
    transition: .3s ease;

}

.card:hover {
    transform: scale(1.02);
    transition: .3s ease;
    box-shadow: #d8d8d8 3px -1px 15px;

}

#catalouge1 > div, #catalouge2 > div, #catalouge3 > div {
    overflow: hidden;
}

#card1, #card2, #card3, #card4, #card5, #card6, #card7, #card8, #card9, #card10, #card11, #card12 {
    /*box-shadow: #d8d8d8 3px -1px 15px;*/
    overflow: hidden;
}

.pricePerKm {
    color: #ff1a5f;
}

.cardFooth6 {
    color: #a5a5a5;
    font-size: 12px;
    font-weight: bold;
    padding-left: 5px;
}

#cardFRL {
    /*border-top: #ff9941 solid 4px;*/

    color: white;

}

.lineL {
    width: 100%;
    height: 4px;
    background: linear-gradient(-45deg, #ff1f08, #fdff4f, #f33adc, #84fcf6);
    animation: changeColour 5s ease-in-out infinite;
    background-size: 200% 200%;
}

.lineP {
    width: 100%;
    height: 4px;
    background: linear-gradient(-45deg, #329652, #58ff59, #fff8d9, #d01aab);
    animation: changeColour 5s ease-in-out infinite;
    background-size: 200% 200%;
}

.lineG {
    width: 100%;
    height: 4px;
    background: linear-gradient(-45deg, #c521ff, #f32b9e, #3addf3, #d88fff);
    animation: changeColour 5s ease-in-out infinite;
    background-size: 200% 200%;
}

@keyframes changeColour {
    0% {
        background-position: 0 50%;

    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0 50%;

    }
}

/*.............................................Index form styling end...............................*/

/*....................................Login form styling start.................................*/

.loginBody{
    background: url("../images/lbackwall.png");
    background-size: cover
}
#loginHome{
    position: absolute;
    left: 50%;
    top: 50%;
    margin: auto;
    transform: translate(-50%,-50%);
}
.svgimg{
    width: 100%;
    height: 100%;
    background: url("../images/undraw_off_road_9oae.svg");
    background-size: cover;
}
/*....................................Login form styling end.................................*/

/*................................customer dashboard start..................................*/

.customerContent .custPic {
    width: 150px;
    height: 150px;
    border-radius: 100%;
    background: url("../images/customer.png");
    background-size: cover;
    padding: 15px;
    border: #abedfd 15px solid;

}

.custPic {
    animation: infinite 4s ease custpiczoom;
}

@keyframes custpiczoom {
    0% {
        transform: scale(1);
        border: #abedfd 15px solid;

    }
    50% {
        transform: scale(1.15);
        border: #abedfd 0px solid;

    }
    100% {
        transform: scale(1);
        border: #abedfd 15px solid;

    }
}

.custTitle{
    font-family: Dancing Script SemiBold;
    border-radius: 20px 0 0px;
    background: #0080db;
    box-shadow: #bcbcbc 5px 0px 13px;
    color: white;
}
.bookingReqTitle{
    font-family: Dancing Script SemiBold;
    border-radius: 20px 0 0px;
    background: #d700c1;
    box-shadow: #bcbcbc 5px 0px 13px;
    color: white;
}
/*.carPic{*/
/*    width: 368px;*/
/*    height: 280px;*/
/*    right: 50px;*/
/*    bottom: -16px;*/
/*    border: solid black 3px;*/
/*    border-radius: 15px;*/
/*}*/



/*................................customer dashboard end..................................*/
