# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\sem 2\Rent4U_Car_Rental_System\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
